<div class="container" ng-controller="PresenceCtrl">
<div class="row">
	
	<div class="container">	
	<div class="col-sm-4 col-xs-12">	
		<div class="col-sm-6 col-xs-6">			
			<!--nav pills starts -->
	
				<ul class="nav nav-pills nav-justified">
					<li class="active"><a href="#/dashboard">
					<h4>There are</h4>
					<span class="badge">
					 <h1><b>{{allUsers}}</b></h1>
					</span> 
					<span class="badge pull-right"></span>
							<h4>users</h4> </a>
					</li>
				</ul>
				<!--nav pills ends -->
		
		</div>	<!--nav col-sm-6 col-xs-6 -->	
		<div class="col-sm-6 col-xs-6">
			<!--nav pills starts -->
			
				<ul class="nav nav-pills nav-justified">
					<li class="active"><a href="#/actiontable">
						<h4>There are</h4>
						<span class="badge"><h1><b>{{activeUsers}}</b></h1></span> <span class="badge pull-right"></span>
						<h4><strong>active</strong> users</h4> </a></li>
					</ul>
				<!--nav pills ends -->
				
		</div><!--nav col-sm-6 col-xs-6 -->

	</div><!--nav col-sm-4 col-xs-12 -->

		<div class="col-sm-8">			
			<h4><center><strong>Alerts</strong></center></h4>
			<div class="row">
				<div class="col-sm-6">
					<div class="list-group">
  					<a href="#" class="list-group-item">New Users <span class="badge"><strong>{{newUsers}}</strong></span></a>
  					<a href="#" class="list-group-item">Return Users<span class="badge"><strong>{{returnUsers}}</strong></span></a>
				</div>
			</div><!--end col-sm-6 -->

			<div class="col-sm-6">
				<div class="list-group">
  				<a href="#" class="list-group-item">No results<span class="badge"><strong>12</strong></span></a>
  				<a href="#" class="list-group-item">Out of stock<span class="badge"><strong>12</strong></span></a>
			</div>
			</div><!--end col-sm-6 -->

			</div><!--end row-->
		</div> <!--end col-sm-8 -->
		
</div><!--end container -->
</div><!--end row-->


			<br>
		<div class=" col-md-6 col-xs-12">
			<!-- <chart ng-model="data"></chart> -->
			<div >
				  <div class="alert alert-info">
				  <h4><center><strong>User Type</strong></center></h4>				  
				  <div class="table-responsive">
				    <table class="table table-bordered table-hover">				   
				                    <tr>
				                    <th>Type</th>
				                      <th>Device</th>
				                      <th>Operating System</th>
				                      <th>Visits</th>
				                    </tr>

				                    <tr>
				                    <td><h4>Dekstop <span class="badge"><strong>{{deskTop}}</strong></span></h4></td>
				                     <td><img src="img/icons/desktop.png" alt="" ></td>
				                     <td>Windows/Mac/Linux</td>
				                     <td>{{deskTop}}</td>
				                    </tr>

				                    <td rowspan="5"><h4>Handheld <span class="badge"><strong>{{androidDevice+iOSDevice+winDevice}}</strong></span>
				                    </h4>
				                    </td>
				
				                    <tr>
				                      <td><img src="img/icons/android.png" alt="" />
				                      <td>Android</td>
				                      <td>{{androidDevice}}</td>
				                    </tr> 

				                    <tr>
				                      <td><img src="img/icons/ios.png" alt="" />
				                      <td>Apple iOS</td>
				                      <td>{{iOSDevice}}</td>
				                    </tr>  

				                     <tr>                                                                                     
				                      <td><img src="img/icons/metro.png" alt="" />
				                      <td>Windows Mobile</td>
				                      <td>{{winDevice}}</td>
				                    </tr>   

				    </table>
				</div><!-- end table responsive-->
			</div><!-- end alert info-->

		</div>
	</div> <!-- end col-md-6 col-md-12-->

	<div class=" col-md-6 col-xs-12 hidden-xs">
		<!-- end col-md-6 col-md-12-->
		<div class="alert alert-info">
		<img src="img/map.png" width="450" height="257">
		</div>
	</div>
</div><!--enc controller -->